<!-- header section -->
<!-- header version inner menu -->
<header class="fundpress-header-inner-version fundpress-header-main-version xs-menu-style-solid color-navy-blue">
	<div class="container">
		<nav class="xs-menus fundpress-menu">
			<div class="nav-header">
				<div class="nav-toggle"></div>
				<a class="nav-brand nav-logo" href="/">
					<img src="{{logo.img}}" alt="">
				</a>
			</div><!-- . END -->
			<div class="nav-menus-wrapper">
				<div class="xs-logo-wraper">
					<a class="nav-brand xs-logo fundpress-logo-v1" href="/">
						<img src="{{logo.img}}" alt="">
					</a>
				</div>
				<ul class="nav-menu">
					<li><a href="">{{moments.title}}</a>
						<ul class="nav-dropdown">
							<li><a href="{{moments.link1}}">{{moments.1}}</a></li>
							<li><a href="{{moments.link2}}">{{moments.2}}</a></li>
							<li><a href="{{moments.link3}}">{{moments.3}}</a></li>
							<li><a href="{{moments.link4}}">{{moments.4}}</a></li>
						</ul>
					</li>
					<li><a href="/">about</a></li>
					<!-- <li><a href="#">Blog</a>
						<ul class="nav-dropdown">
							<li><a href="news-feed.html ">blog version 1</a></li>
							<li><a href="news-feed-v2.html ">blog version 2</a></li>
							<li><a href="news-feed-v3.html">blog version 3</a></li>
							<li><a href="blog-single.html">blog details </a></li>
						</ul>
					</li> -->
					<li><a href="contact.html">contact</a></li>
					<li><a href="#">pages</a>
						<ul class="nav-dropdown">
							<li><a href="/team">team details</a></li>
							<!--
							<li><a href="progress.html ">progress</a></li>
							<li><a href="progress-successful.html">progress successful</a></li>
							<li><a href="progress-explore.html">progress explore</a></li>
							<li><a href="events.html">events</a></li> 
							-->
							<li><a href="/faq">faq</a></li>
							<li><a href="fund-details.html ">fund-details</a></li>
							<li><a href="we-do.html">we do</a></li>
							<li><a href="portfolio.html">portfolio</a></li>
							<li><a href="shop.html">Shop</a></li>
							<li><a href="single-shop.html">single Shop</a></li>
						</ul>
					</li>
				</ul>
				<div class="xs-navs-button">
					<ul class="xs-icon-with-text fundpress-icon-menu">
						<li><a href="" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-unlock-alt color-green"></i>Log In</a></li>
						<li class="d-block d-lg-none d-xl-block"><a href="#" class="xs-btn round-btn green-btn">start a campaign</a></li>
					</ul>
				</div>
			</div><!-- .nav-menus-wrapper END -->
		</nav><!-- .xs-menus .fundpress-menu END -->
	</div>
</header>
<!-- header version inner menu closed -->