<!doctype html>
<html class="no-js" lang="en">
{{>top}}

<!-- welcome section -->
<!--breadcumb start here-->
<section
    class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window xs-extra-style"
    data-parallax="scroll" data-image-src="{{ilinca.ilincaFan}}">
    <div class="xs-solid-overlay xs-bg-black"></div>
    <div class="container">
        <div class="fundpress-inner-welcome-content xs-inner-welcome-content">
            <!-- xs rating -->
            <ul class="xs-rating color-yellow xs-mb-30">
                <li><a href=""><i class="fa fa-star"></i></a></li>
                <li><a href=""><i class="fa fa-star"></i></a></li>
                <li><a href=""><i class="fa fa-star"></i></a></li>
                <li><a href=""><i class="fa fa-star"></i></a></li>
                <li><a href=""><i class="fa fa-star"></i></a></li>
                <li><a href=""><i class="fa fa-star"></i></a></li>
            </ul>
            <!-- End xs rating -->
            <h2 class="color-white">{{ilinca.name}}</h2>
            <p class="color-white xs-mb-20">{{ilinca.warning}}</p>
            <ul class="xs-breadcumb fundpress-breadcumb">
                <li><a href="index.html" class="color-white"> Home /</a> Volunteer</li>
            </ul>
        </div>
    </div>
</section>
<!--breadcumb end here-->
<!-- End welcome section -->

<main class="xs-all-content-wrapper">
    <!-- team member details section -->
    <section class="xs-team-member-details-section fundpress-team-member-details-section xs-content-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-lg-8">
                    <div class="fundpress-team-member-details-content">
                        <p class="xs-mb-40 xs-content-description fundpress-content-description">Powered by curiosity,
                            the FundPress community has helped bring more than 900,000 innovative ideas to life since
                            2010. Today, our group of backers is more than 20 million strong, representing 100 countries
                            and territories. Always on the lookout for new solutions to everyday problems, our community
                            thrives on making clever discoveries before everyone else. From live campaigns to
                            ready-to-ship tech, curious humans rely on FundPress to find the latest innovations in tech
                            and design.</p>
                        <h3 class="medium xs-extra-css color-green xs-post-title fundpress-post-title xs-mb-20">Founded
                            to Empower Innovation</h3>
                        <p class="xs-mb-30 xs-content-description fundpress-content-description">
                            Our founders were inspired to create Indiegogo based on their own experiences trying to make
                            ideas come to life. Danae Ringelmann produced a play but couldn’t get funding to take it to
                            the next level. Eric Schell struggled to fundraise for a Chicago theater company. Slava
                            Rubin tried to raise funds to find a cure for Multiple Myeloma, the disease that killed his
                            father. Then, they had an idea. They could use the internet to bring people together to
                            empower innovation.
                        </p>
                        <p class="xs-mb-40 xs-content-description fundpress-content-description">
                            Danae, Eric, and Slava founded FundPress in 2010 because they believed that you should
                            choose the ideas that come to life. You and your fellow innovation seekers should get to
                            change the world. It’s time to start discovering the next big idea.
                        </p>
                        <blockquote
                            class="xs-blockquote xs-mb-0 color-white xs-extra-css xs-box-shadow xs-content-padding fundpress-blockquote xs-navy-blue-bg text-center">
                            <span class="xs-blockquote-icon fundpress-blockquote-icon">
                                <img src="assets/images/quote-left-2.png" alt="">
                            </span>
                            {{ilinca.elvisQuote}}

                            <div class="xs-sign">
                                <img src="assets/images/signature.png" alt="">
                            </div>
                        </blockquote>
                        <!-- xs-blockquote xs-mb-0 color-white xs-extra-css xs-box-shadow xs-content-padding fundpress-blockquote xs-navy-blue-bg text-center -->
                    </div><!-- xs-team-member-details-content fundpress-team-member-details-content -->
                </div>
                <div class="col-md-5 col-sm-12 col-lg-4">
                    <div class="xs-team-member-info-details">
                        <div class="xs-team-member-bio-avatar xs-box-shadow ">
                            <img src="{{ilinca.ilincaPortrait}}" alt="">
                            <div class="xs-team-member-info ">
                                <ul class="xs-social-list fundpress-social-list xs-social-list-v2">
                                    <li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div><!-- xs-team-member-info  -->
                        </div><!-- xs-team-member-bio-avatar xs-box-shadow  -->
                        <div class="xs-item-footer xs-content-padding ">
                            <div class="xs-mb-30 fundpress-team-details text-left xs-extra-css">
                                <a href="#" class="color-navy-blue">
                                    {{ilinca.name}}
                                </a>
                                <h5 class="color-green">Volunteer</h5>
                            </div>

                            <ul class="xs-list-item-icon-text">
                                <li><i class="fa fa-phone color-green"></i>+09 56 43 768</li>
                                <li><i class="fa fa-envelope-o color-green"></i><a
                                        href="mailto:name@yourdomain.com">name@yourdomain.com</a></li>
                                <li><i class="fa fa-globe color-green"></i><a href=""> www.yourname.com</a></li>
                            </ul>
                        </div>
                        <!-- xs-item-footer xs-content-padding bg-color-white  fundpress-team-details text-left xs-extra-css -->
                    </div><!-- xs-team-member-info-details -->
                </div>
            </div>
        </div>
    </section> <!-- team member details section end -->

    <!-- team section -->
    <section class="xs-gray-bg xs-team-section fundpress-team-section xs-section-padding">
        <div class="container">
            <div class="xs-section-heading row xs-margin-0">
                <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
                    <h2 class="color-navy-blue">Meet with our team</h2>
                    <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
                    <p>No matter how many times your amazing, absolutely brilliant</p>
                </div><!-- .xs-heading-title .fundpress-heading-title .xs-col-9 END -->
                <div class="xs-btn-wraper xs-padding-0 col-xl-3 col-md-3 d-flex-center-end">
                    <a href="#" class="xs-btn round-btn navy-blue-btn">Team</a>
                </div><!-- .xs-btn-wraper .d-flex-center-end .xs-col-3 END -->
            </div><!-- .xs-section-heading .fundpress-section-heading .xs-spilit-container END -->
            <div class="row">
                <div class="col-md-3">
                    <div class="xs-box-shadow  fundpress-single-team-member">
                        <div class="fundpress-item-header ">
                            <img src="assets/images/avatar/team-1.jpg" alt="">
                            <div class="xs-hover-content fundpress-hover-content text-center">
                                <ul class="xs-social-list fundpress-social-list xs-social-list-v2">
                                    <li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--fundpress-item-header -->
                        <div
                            class="xs-item-footer xs-content-padding bg-color-white  fundpress-team-details text-center">
                            <a href="#" class="color-navy-blue">
                                Kene Williamson
                            </a>
                            <h5 class="color-green">Founder</h5>
                        </div>
                        <!-- 
						xs-item-footer 
						xs-content-padding 
						bg-color-white 
						fundpress-team-details 
						text-center
					 -->
                    </div>
                    <!-- 
					xs-box-shadow 
					fundpress-single-team-member
				 -->
                </div>
                <div class="col-md-3">
                    <div class="xs-box-shadow  fundpress-single-team-member">
                        <div class="fundpress-item-header ">
                            <img src="assets/images/avatar/team-2.jpg" alt="">
                            <div class="xs-hover-content fundpress-hover-content text-center">
                                <ul class="xs-social-list fundpress-social-list xs-social-list-v2">
                                    <li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--fundpress-item-header -->
                        <div
                            class="xs-item-footer xs-content-padding bg-color-white  fundpress-team-details text-center">
                            <a href="#" class="color-navy-blue">
                                Thomas Muller
                            </a>
                            <h5 class="color-green">C E O</h5>
                        </div>
                        <!-- 
						xs-item-footer 
						xs-content-padding 
						bg-color-white 
						fundpress-team-details 
						text-center
					 -->
                    </div>
                    <!-- 
					xs-box-shadow 
					fundpress-single-team-member
				 -->
                </div>
                <div class="col-md-3">
                    <div class="xs-box-shadow  fundpress-single-team-member">
                        <div class="fundpress-item-header ">
                            <img src="assets/images/avatar/team-3.jpg" alt="">
                            <div class="xs-hover-content fundpress-hover-content text-center">
                                <ul class="xs-social-list fundpress-social-list xs-social-list-v2">
                                    <li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--fundpress-item-header -->
                        <div
                            class="xs-item-footer xs-content-padding bg-color-white  fundpress-team-details text-center">
                            <a href="#" class="color-navy-blue">
                                Arian Roben
                            </a>
                            <h5 class="color-green">Volunteer</h5>
                        </div>
                        <!-- 
						xs-item-footer 
						xs-content-padding 
						bg-color-white 
						fundpress-team-details 
						text-center
					 -->
                    </div>
                    <!-- 
					xs-box-shadow 
					fundpress-single-team-member
				 -->
                </div>
                <div class="col-md-3">
                    <div class="xs-box-shadow  fundpress-single-team-member">
                        <div class="fundpress-item-header ">
                            <img src="assets/images/avatar/team-4.jpg" alt="">
                            <div class="xs-hover-content fundpress-hover-content text-center">
                                <ul class="xs-social-list fundpress-social-list xs-social-list-v2">
                                    <li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--fundpress-item-header-->
                        <div
                            class="xs-item-footer xs-content-padding bg-color-white  fundpress-team-details text-center">
                            <a href="#" class="color-navy-blue">
                                Pencil Henrics
                            </a>
                            <h5 class="color-green">Volunteer</h5>
                        </div>
                        <!-- 
						xs-item-footer 
						xs-content-padding 
						bg-color-white 
						fundpress-team-details 
						text-center
					 -->
                    </div>
                    <!-- 
					xs-box-shadow 
					fundpress-single-team-member
				 -->
                </div>
            </div>
        </div>
    </section> <!-- team section end -->
</main>

{{> footer}}
</body>

</html>